@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.how-where {
    @include flex();
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 1rem 3rem 1rem;
    &__text {
        max-width: 38rem;
        color: $color-text-dark;
    }
}