@use "./fonts" as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Cabin";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}