// colors
$color-primary: #DC818C;
$color-primary-light: #F1E1E3;
$color-secondary: #E8BBF4;
$color-background-white: #F6F6F6;
$color-headingtext: #CF5362;
$color-bodytext: #434343;
$color-purewhite: #FFFFFF;

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;