// colors
$color-primary: #DC818C;
$color-primary-dark: #CF5362;
$color-primary-light: #F1E1E3;
$color-secondary: #E8BBF4;
$color-background-white: #F6F6F6;
$color-text-lighter: #6E6E6E;
$color-text-light: #5D5D5D;
$color-text-dark: #434343;
$color-purewhite: #FFFFFF;
$color-error: #ff4343;

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;