@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.timezone {
    @include flex();
    flex-direction: column;
    background-color: $color-purewhite;
    border-radius: 0.5rem;
    padding: 1rem 0;
    margin: 0 auto 2rem auto;
    max-width: 21rem;
    gap: 0.5rem;
    &__user {
        color: $color-text-light;
    }
    &__main {
        @include flex(center, baseline);
        gap: 0.5rem;
    }
    &__date {
        color: $color-primary;
    }
    &__time-display {
        font-size: 3.5rem;
        color: $color-primary-dark;
    }
    &__am-pm {
        font-size: 2rem;
        color: $color-primary;
    }
    &__location {
        color: $color-text-lighter;
    }
}