@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.photocard-large {
    @include flex();
    flex-direction: column;
    padding: 1rem;
    background-color: $color-purewhite;
    border-radius: 0.25rem;
    width: fit-content;
    &__img {
        width: 20rem;
        height: 20rem;
        border-radius: 0.125rem;
    }
    &__date {
        padding-block: 0.5rem;
        color: $color-text-dark;
    }
    &__title {
        color: $color-text-light;
    }
}